/*  Color
Web color, Color activ button, email, phone, button-hero - #2196F3 !!!
Color passiv button, h2, h3, button-portfolio-passiv - #212121 !!!
Color passiv email, phone, p - #757575 !!!

background header - #FFFFFF
background hero, footer - #2F303A
background main - #E5E5E5
backgrpund section our team - #F5F4FA

text hero, button-hero, address, button-portfolio-active - #FFFFFF
email+phone-footer - rgba(255, 255, 255, 0.6);

*/

/* Font
Font logo - Raleway 700
Font nav, mail, phone, hero, button-hero, h2, h3, p, address, email+phone-footer - Roboto 400, 500, 700, 900
*/

:root {
  --primary-text-color: #757575;
  --activ-button-color: #2196f3;
  --title-text-color: #212121;
  --text-hero-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

header {
  background-color: #ffffff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero-button,
.button-portfolio {
  cursor: pointer;
}

/* header */
.container.header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.button.accent {
  color: var(--activ-button-color);
}

.logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.logo-text {
  color: var(--activ-button-color);
}

.site-nav,
.contact-main {
  display: flex;
}

.site-nav .item:not(:last-child),
.contact-main .item:not(:last-child) {
  margin-right: 50px;
}

.contact-main {
  margin-left: auto;
}

.site-nav .button,
.contact-main .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  color: var(--activ-button-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--activ-button-color);
}

/* HERO */

.hero {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #2f303a;
  color: var(--text-hero-color);
  text-align: center;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;

  background-color: var(--activ-button-color);
  color: var(--text-hero-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /*display: flex;*/
  align-items: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* VALUES */
.values-list {
  display: flex;
  justify-content: space-between;
}

.values-list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.values-list .item:nth-child(4) {
  margin-right: 0;
}

.values-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.values-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* TEAM */

.work-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.employee {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.proffesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */

footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
}

.address {
  color: #ffffff;
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.header-border {
  border: 1px solid #ececec;
}

.button-portfolio {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--activ-button-color);
  color: #ffffff;
}

.example-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-text {
  font-size: 16px;
  line-height: 1.87;
}
